.button {
  margin: 55px 15px 25px 5px;
  
}


.btn {
    background-color: #01005B;
    color: #fff;
    padding: 16px 65px;
    border-radius: 5px;
    letter-spacing: 0.4px;
    font-size: 16px;
    cursor: pointer;
    }

    .btn:hover {
        opacity: 0.6;
    }

    .btn-arrow {
        margin-left: 10px;
    }

    @media (max-width: 690px){

    .button {
        display: flex;
       justify-content: center;
       align-self: center;
       margin: 25px 15px;
      }

      .btn {
      
       width: 100%;
       padding: 12px 45px;
      } 
     }