.descriptionBenefits-section {
    
      
}

.descriptionBenefits-top {
    background: linear-gradient(to bottom, #F9F0E5,#f5f5f5);

}


.top-text {
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 20px;
    
}

.descriptionBenefits-brands{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 55px 15px 25px 15px ;
    padding-bottom: 25px;
     vertical-align: middle;
}

.icon-brand {
   
    max-height: 50px;
}

.mainSectionBenefits {
    
    
     max-width: 1200px;
     margin: 0 auto;
    
   

  }

.mainSectionBenefits-body {
    display: flex;
    margin: 30px 5px;
     width: 100%;
    
}


.mainSectionBenefits-title {
    display: flex;
    text-align: start;
    margin-left: 10px;
    
    color: #01005B;
    letter-spacing: 0.3px;
    font-weight: 400;
    padding: 0px 5px;
    line-height: 46px;
}

.mainSectionBenefits-textBlock {
    max-width: 682px;
    flex: 1;
    padding-right: 20px; 
  }

.mainSectionBenefits-listContainer{
    
        margin-top: 20px;
         
}

.mainSectionBenefits-list {
    max-width: 100%;
    display: flex;
    
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}





.mainSectionBenefits-text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 1.5;
    margin: 0px 0px 0px 35px;
  }

  .slider-section {
    flex: 1;
    max-width: 433px; /* Слайдер занимает оставшуюся половину */
  }


@media (max-width: 860px){
    .hide-on-small-screen{
        display:none;
        
    }
    .heroSection-logo {
        display: flex;
        justify-content: center;
        margin-left: 0%;
         }

    .mainSection-body {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .mainSection-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainSection-listContainer {
        display: flex;
        flex-direction: column;
    }

    .mainSection-list {
        display: flex;
        justify-content: center;
        
    }

    .mainSection-item img {
        display: flex;
        flex-direction: column;
        object-position: center;
    }

    .mainSection-text {
        font-size: 14px;
        
    }

    .mainSection-collage {
        display: flex;
        
        width: 40%;
        object-position: left;
    }

    .slider-section {
        flex: 1; /* Слайдер занимает 1 часть пространства */
        max-width: 50%; /* Ограничиваем ширину слайдера */
      }
    
        
      
    
}

@media (max-width: 660px) {
    .mainSection-title {
        font-size: 26px;
    }

    .mainSection-text {
        font-size: 12px;
    }

    .button {
        display: flex;
       justify-content: center;
       align-self: center;
      }

      .btn {
      
       width: 100%;
       padding: 12px 45px;
      } 
}
