.heroSection-container {
    display: flex;
   justify-content: center;
   background-color: #F9F0E5;
   margin: 0 auto; 
  max-width: 100%;
  
}

.heroSection-top {
    
    padding: 11px;
    font-size: 11px;
    font-weight: 400; 
    
}

.heroSection-top span {
    margin: 0 10px;
}

.heroSection-logo  {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    margin: 5px;
    
}

.logo {
    height: 36px;
     margin: 50px 20px 30px 15px;
}

.mainSection {
    display: flex;
    align-self: center;
    justify-content: space-between; 
    align-items: center; 
    max-height: 500px;
    height: 100%;
    width: 100%;
    padding: 20px 10px;
    
  }

  .page-mainSection {
    margin: 0 auto;
    height: 800px;
    max-width: 1300px;
    width: 100%;
  }

.mainSection-body {
    display: flex;
    justify-content: space-between;
     width: 100%;
    padding: 20px;
}


.mainSection-title {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    color: #01005B;
    letter-spacing: 0.4px;
    font-weight: 500;
    padding: 0px 10px;
    line-height: 46px;
}

.mainSection-textBlock {
    
    padding-right: 20px; 
  }

.mainSection-listContainer{
       max-width: 600px;
        margin-top: 10px;
        
         
}

.mainSection-list {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.mainSection-collage {
        
        display: flex;
        justify-content: center; 
        align-items: center;
        position: relative;
         box-sizing: border-box;
}

.collage-item {
    position: relative;
}

.collage-bg {
    position: absolute;
    top: 50px;
    left: -50px;
    width: 134px;
    height: 189px;
    background-color: #f9f0e5; 
    opacity: 0.3;
    z-index: 0;
  }

  .collage-bg-left  {
    position: absolute;
    top: 50px;
    right: -50px;
    width: 134px;
    height: 189px;
    background-color: #f9f0e5; 
    opacity: 0.4;
    z-index: 0;
  }


.collage-img {
    width: 100%;
    
    height: auto;
    object-fit: cover; 
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
  }



  .collage-img.small {
    
    width: 109px;
    height: 257px;
    
}
  
  
  .collage-img.large {
    width: 227px; 
    height: 388px;

  }

  .mainSection-collage img:hover {
    transform: scale(1.1);
  }

  

  .collage-img:hover {
    transform: scale(1.1);
  }

.mainSection-icon {
    
        width: 25px; 
        height: 25px;
}

.mainSection-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 1.5;
    margin: 0px 0px 0px 10px;
  }

  
 /*===============================================================*/
 @media (max-width: 1140px) {
    .mainSection-body {
        gap: 20px;
    }
    .collage-img.small {
    
        width: 90px;
        height: 207px;
        
    }
      
      
      .collage-img.large {
        width: 200px; 
        height: 338px;
    
      }

      .collage-bg {
       
        top: 30px;
        left: -30px;
        width: 50px;
    }

    
 }

 @media (max-width: 1090px) {
    .collage-img.small {
    
        width: 70px;
        height: 190px;
    }
      
      .collage-img.large {
        width: 180px; 
        height: 308px;
    
      }

      .collage-bg {
       
        top: 30px;
        left: -30px;
        width: 30px;
    }

   

 }


@media (max-width: 1000px){

    .mainSection-body {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .mainSection {
        height: 100%;
        max-height: 700px;
    }

    .heroSection-logo {
        padding: 20px;
        display: flex;
        justify-content: center;
    }
     .logo {
        height: 28px;
        margin: 19px 15px;
     }

     .mainSection-collage {
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
     }

     .collage-img.small {
    
        width: 90px;
        height: 207px;
        
    }
      
      
      .collage-img.large {
        width: 200px; 
        height: 338px;
    
      }

     
     .mainSection-list {
        display: flex;
        justify-content: center;
 
     }

     .mainSection-title {
        display: flex;
        justify-content: center;
        
     }

     .mainSection-textBlock { 
     padding-right: 5px;
      
    }

    .collage-bg {
       
        top: 30px;
        left: -30px;
        width: 50px;
    }

    .mainSection-listContainer{
        max-width: 800px;
         margin-top: 10px;
         
          
 }

    


}

@media (max-width: 522px) {
    .collage-img.small {
    
        width: 60px;
        height: 160px;
        
    }
      
      
      .collage-img.large {
        width: 150px; 
        height: 250px;
    
      }

      .mainSection-listContainer{
        max-width: 350px;
      }

      .collage-bg {
       
       display: none;
    }

    .collage-bg-left {
        display: none;
    }

    
}

@media (max-width: 522px) {
    .mainSection-collage {
        margin-top: 60px;
    }

    .mainSection-title{
        font-size: 22px;
        line-height: 25px;
    }

    .mainSection-text {
        font-size: 14px;
    }
}