.heroSection-container {
    display: flex;
    justify-content: center;
   background-color: #F9F0E5;
   margin: 0 auto; 
  
}

.heroSection-top {
    
    max-width: 1198px;
    padding: 11px;
    font-size: 11px;
    font-weight: 400; 
    
}

.heroSection-top span {
    margin: 0 10px;
}

.heroSection-logo  {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    margin-left: 115px;
    
}

.logo {
    height: 36px;
     margin: 69px 25px;
}

.mainSection {
    display: flex;
    align-self: center;
    justify-content: space-between; /* Разместим текст и изображения по краям */
    align-items: center; /* Вертикальное выравнивание */
    padding: 50px;
    width: 1289px;
    height: 500px;
    
  }

  .page-mainSection {
    margin: 0 auto;
    max-height: 800px;
  }

.mainSection-body {
    display: flex;
    justify-content: space-between;
     width: 100%;
    
}


.mainSection-title {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    color: #01005B;
    letter-spacing: 0.4px;
    font-weight: 500;
    padding: 0px 10px;
    line-height: 46px;
}

.mainSection-textBlock {
    flex: 1;
    padding-right: 20px; 
  }

.mainSection-listContainer{
    
        margin-top: 20px;
         
}

.mainSection-list {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.mainSection-collage {
     
        display: flex;
        border: 1px solid #fff; 
        justify-content: center; 
        align-items: center;
        position: relative;
}

.collage-item {
    position: relative;
}

.collage-bg {
    position: absolute;
    top: 50px;
    left: -50px;
    width: 134px;
    height: 189px;
    background-color: #f9f0e5; 
    opacity: 0.3;
    z-index: 0;
  }

  .collage-bg-left  {
    position: absolute;
    top: 50px;
    right: -50px;
    width: 134px;
    height: 189px;
    background-color: #f9f0e5; 
    opacity: 0.4;
    z-index: 0;
  }


.collage-img {
    width: 80%; 
    height: auto;
    object-fit: cover; 
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
  }



  .collage-img.small {
    width: 30%; 
    width: 209px;
    height: 317px;
    
}
  
  
  .collage-img.large {
    width: 267px; 
    height: 428px;

  }

  .mainSection-collage img:hover {
    transform: scale(1.1);
  }

  

  .collage-img:hover {
    transform: scale(1.1);
  }

.mainSection-icon {
    
        width: 25px; 
        height: 25px;
}

.mainSection-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 1.5;
    margin: 0px 0px 0px 10px;
  }


@media (max-width: 860px){
    .hide-on-small-screen{
        display:none;
        
    }
    .heroSection-logo {
        display: flex;
        justify-content: center;
        margin-left: 0%;
         }

    .mainSection-body {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .mainSection-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainSection-listContainer {
        display: flex;
        flex-direction: column;
    }

    .mainSection-list {
        display: flex;
        justify-content: center;
        
    }

    .mainSection-item img {
        display: flex;
        flex-direction: column;
        object-position: center;
    }

    .mainSection-text {
        font-size: 14px;
        
    }

    .mainSection-collage {
        display: flex;
        
        width: 40%;
        object-position: left;
    }

    .collage-bg {
       width: 20%
    }

    .collage-img {
        width: 20%; 
        height: auto;
    
        
      }
    
}

@media (max-width: 660px) {
    .mainSection-title {
        font-size: 26px;
    }

    .mainSection-text {
        font-size: 12px;
    }

    .button {
        display: flex;
       justify-content: center;
       align-self: center;
      }

      .btn {
      
       width: 100%;
       padding: 12px 45px;
      } 
}
