.sectionReviews {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

}

.sectionReviews-body {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 80px;
}

.sectionReviews-container {
    
   
    height: 100%;
     max-width: 316px;
     box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
     background-color: #fff;
     padding: 25px;
     margin: 10px;
     border-radius: 8px;
 }
 
 .sectionReviews-top {
     
     display: flex;
     
 }
 .sectionReviews-header {
     display: flex;
     flex-direction: column;
 }
 .sectionReviews-name {
    display: flex;
    justify-content: flex-start;
     margin: 2px 20px;
 }
 
 .sectionReviews-icon img{
     width: 35px;
     height: 35px;
     
 }
 
 .sectionReviews-reviews{
     display: flex;
     flex-direction: column;
     font-size: 12px;
     gap: 5px;
     margin: 3px 15px;
     color: #828282;
     
 }
 
 .sectionReviews-stars {
     margin: 3px 0px;
     width: 60px;
     height: 10px;
     
 }
 
 .sectionReviews-text {
     display: flex;
     flex-direction: column;
     font-size: 14px;
     margin-top: 20px;
     line-height: 142%;
 }

 

 /*==================================================================*/
 
 @media (max-width:1185px) { 
 .sectionReviews-body {
   
    gap: 10px;
   
}
}