.sliderCarusel-container {
    max-width: 600px;
    margin: 0 auto;
      
  }
  
  .slick-slide img {
    
    height: auto;
    object-fit: cover; 
  }
  
  .slick-prev, .slick-next {
    z-index: 1; 
  }
  
  .slick-dots {
    bottom: 10px; 
    margin-right: 30px;
  }