.sliderCarusel-container {
    max-width: 1200px;
    margin: 0 auto;
    
      
  }
  
  .slick-slide img {
    
    height: auto;
    object-fit: cover; 
    width: 433px;
     height: 648px;
  }
  
  .slick-prev, .slick-next {
    z-index: 1; 
  }
  
  .slick-dots {
    bottom: 10px; 
    
  }

  /*===================================================================*/

  