.section-yourBest {
   
    align-items: flex-start;
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
    
  }

  
  
  .page-yourBest {
    background-color: #F0EEEF;
    object-fit: cover;
    height: 100%;
    padding: 20px 10px;
  }
   

    .yourBest-image-section {
    
    display: flex;
    flex-direction: column;
    
  }

  .yourBest-mainSection {
    display: flex;
    justify-content: space-around;
    margin: 120px 5px;
    max-width: 1200px;

    
  }
  
  .yourBest-image-container {
    position: relative; 
  width: 100px; 
  margin: 0 auto;
  }
  
  
  
  /* Правая секция с текстом */
  .yourBest-text-section {
    flex: 1;
    padding-left: 40px;
    max-width: 500px;
  }
  
  .yourBest-text-section h2 {
    color: #01005B;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .yourBest-text-section p {
    
    font-size: 1.1em;
    line-height: 1.6em;
    margin-bottom: 20px;
  }

  .main-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }

  .small-image {
    position: absolute;
    
   
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
  }

  .left{
    left: -50px;
    top: -50px;
  }
  
  /* Правое маленькое изображение */
  .right { 
    right: -250px;
    bottom: -50px;
    
  }
  
  .yourBest-btn {
   display: flex;
   flex-direction: column;
   margin-top: 10px 4px;
  }

  /*===============================================================*/
  @media (max-width: 1300px){
    .yourBest-mainSection {
        padding: 30px;
    }

    .yourBest-image-section {
        padding-right: 40px;
    }
  }

  @media (max-width: 1010px){
    .yourBest-mainSection {
        padding: 30px;
    }

    .yourBest-mainSection {
        flex-direction: column;
        justify-content: center;
    }

    .yourBest-image-container {
       
      width: 300px; 
      margin: 0 auto;
      }

      .right { 
        right: -50px;
        bottom: -50px;
        
      }

      .yourBest-mainSection {
       
        margin: 50px 5px;
     
      }

      .yourBest-text-section  {
        
       margin-top: 50px;
       align-self: center;
      }

      .yourBest-text-section h2{
        text-align: center;
      }

      .yourBest-text-section p {
        flex-wrap: wrap;
      }
  
}

@media (max-width: 480px){
    .yourBest-image-container {
       
        width: 250px; 
        margin: 0 auto;
        }
}

@media (max-width: 480px) {
    .yourBest-image-section {
        margin-left: 5px;
      }
}

@media (max-width: 380px){
    .yourBest-image-section {
        margin: 0 auto;
        margin-left: 15px;
    }
    .yourBest-image-container {
       
        width: 150px; 
        
        }

        .right { 
            right: -120px;
            bottom: -50px;
            
          }
          .left{
            left: -20px;
            top: -50px;
          }

         
}

@media (max-width: 320px) {
     .yourBest-image-section {
            margin-left: -20px;
          }
}